@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root {
  --primary: #4A5E6D;
  --primary-light: #637E92;
  --primary-dark: #323F49;
  --blue: #63ADF2;
  --blue-light: #A1CDF7;
  --blue-dark: #2F92EE;
  --green: #42B983;
  --green-light: #78CEA8;
  --green-dark: #36966B;
  --copper: #B57F50;
  --copper-light: #C9A17E;
  --copper-dark: #90633C;
  --ivory: #FFFFf0;
  --ivory-light: #ffffff;
  --ivory-dark: #FFFFEB;
  --offwhite: whitesmoke;
  --offblack: #101518;
}
